const SEOConfig = {
  title: 'Home | Ribbons and Balloons',
  description: 'Buy & Order Cakes Online and Send Cakes anywhere in Mumbai. Ribbons & Balloons is an Online Cakes Shop in Mumbai, we make your Occasions special for your friends, family and you. Order Best Quality cakes online and we deliver it on your doorsteps.',
  keywords: 'Buy & Order Cakes Online and Send Cakes anywhere',
  openGraph: {
    type: 'Corporation',
    locale: 'en_IE',
    url: 'ribbons-and-balloons-b2c.vercel.app', 
    site_name: 'Ribbons and Balloons',
    images: [
      {
        url: 'https://ribbonsandballoons.com/frontassets/images/fav.png',
        width: 1200,
        height: 630,
        alt: 'Gamewitted',
      },
    ],
  },

};

export default SEOConfig;
