.addressTitle {
  color: #c19f5f;
}
.addressImageContainer {
  display: flex;
  justify-content: space-between;
}
.address {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.details {
  color: #c19f5f;
}

.addressContainer {
  padding: 0 2rem ;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
  width: 45%;
}
.address {
  background-color: #25130f;
  font-weight: 700;
  border: 1px solid #c19f5f;
}

.arrowIcon {
  font-size: 1.6rem;
}
.label {
  color: rgb(76, 22, 22) !important;
}

.userDetailSection {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
  background: linear-gradient(to right, rgb(35, 5, 5) 0%, rgb(34, 6, 6) 0%, #3e1313 45%, rgb(37, 6, 6) 100%, rgb(37, 7, 7) 100%);
  color: #c19f5f !important;
  border: 1px solid #c19f5f;
  margin-top: 2rem;
}
.userDetailSection span {
  color: black;
  font-size: 1.4rem;
}
.contactSection span {
  padding: 20px;
  color: #c19f5f;
  font-size: 1.4rem;
}

.contactSection span i {
  margin-right: 10px;
}
.displaySection a,
.displaySection a:hover {
  color: black;
  text-decoration: none;
}

.addressPage {
  padding: 4rem 14rem;
  display: flex;
  justify-content: center;
  background-color: #25130f;

}

.shadow-md {
  width: 30rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #25130f;
  margin: 0 2rem 1rem 1rem;
  cursor: pointer;
  color: #c19f5f !important;
  border: 1px solid #c19f5f;
}
.activeTab {
  border-bottom: #301a0f 3px solid;
}
.inputContainer {
  display: flex;
  justify-content: space-around;
}

.btnDelete:hover,.btnEdit:hover{
  cursor: pointer;
}
.arrowIconContainer{
   display: flex;
   justify-content: end;
}
.arrowIconContainer i {
  color: black;
}

@media (min-width: 521px) and (max-width: 767px) {
  .userDetailSection {
    display: flex;
    justify-content: space-between;
    padding: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
  }

  .userDetailSection span {
    color: black;
    font-size: 1rem;
  }
  .displaySection {
    display: none;
  }
  .addressContainer {
    width: 100%;
  }
  .details {
    color: black;
    font-size: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .userDetailSection {
    display: none;
  }
  .displaySection {
    display: none !important;
  }
  .addressContainer {
    width: 100%;
  }
  .details {
    color: black;
    font-size: 1rem;
  }
}
.add-address-btn {
  position: relative;
  color: #25130f !important;
  z-index: 3;
  background-image: url(https://img.freepik.com/premium-vector/gold-metal-backgrounds-metal-texture_508524-33.jpg);
  background-position: center;
  background-repeat: no-repeat;
}