.CheckOutQct {
  background-image: url(https://fama.b-cdn.net/Stripes.jpg);
  background-attachment: fixed !important;
  transition: background 0s !important;
  background-size: 100%;
  font-family: var(--font-family);
}

.checkOutQctWrap {
  padding: 1.6rem 0px 2.5rem;
  width: 100%;
}

.checkoutQctTitle {
  color: #fff;
  width: 100%;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  border-bottom: 1px solid #c8c9c6;
  z-index: 1;
}

.checkoutQctTitle h1 {
  position: relative !important;
  margin: 0 auto 20px;
  padding: 10px 40px;
  text-align: center;
  background-color: #5a3125;
  font-size: 2rem;
  color: #c19f5f;
}

.checkoutQctTitle::after {
  content: '';
  top: 0;
  left: 3.2rem;
  width: 3rem;
  height: 46px;
  position: absolute !important;
  animation: slide 3s infinite;
  z-index: 3 !important;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.checkoutQctTitle h1::before, .checkoutQctTitle h1::after {
  content: '';
  width: 80px;
  height: 100%;
  background-color: #482821;

  /* position ribbon ends behind and slightly lower */
  position: absolute;
  top: 20px;
  
  /* clip ribbon end shape */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

  /* draw and position the folded ribbon bit */
  background-image: linear-gradient(45deg, transparent 50%, #3e221c 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: -1;
}

.checkoutQctTitle h1::before {
  left: -60px;
}

.checkoutQctTitle h1::after {
  right: -60px;
  transform: scaleX(-1); /* flip horizontally */
}










.checkoutQctBody {
  width: 100%;
  /* display: flex; */
  margin-top: 15px;
  flex-direction: row;
}

.checkoutQctShipping {
  width: calc(65% - 1.6rem);
  margin-right: 1.6rem;
  border: 1px solid #c19f5f;
  background-color: #25130f;
  border-radius: 8px;
  width: 100%;
}

.checkoutQctOrderSummary {
  width: 35%;
}

.cartBoxItems {}

.cartBoxItem {
  padding: 16px;
  font-family: var(--font-family);
}

.cartBoxContent {
  display: flex;
}

.cartBoxImg {
  width: 115px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.cartBoxImg img {
  width: 100%;
  height: 12rem;
}

.cartBoxInfo {
  padding-left: 32px;
}

.cartBoxInfo h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.cartBoxInfo h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cartBoxInfo p {
  cursor: pointer;
  padding: 4px 8px;
  background: #ecedeb;
  border-radius: var(--border-radius);
  color: #000;
  font-size: 14px;
  line-height: 20px;
  width: fit-content;
}

.checkoutQctShippingHeader {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #c19f5f;
}

.checkoutQctShippingHeader h4,
.checkoutQctShippingHeader p {
  margin: 0;
}

.checkoutQctShippingHeader h4 {
  flex-grow: 0;
  max-width: 115px;
  flex-basis: 115px;
  font-size: 1.6rem;
  color: #929391;
  padding-right: 32px;
}

.checkoutQctShippingHeader p {
  flex-grow: 0;
  max-width: 91.666667%;
  flex-basis: 91.666667%;
  font-size: 1.7rem;
}

.cartBoxMsg {
  font-size: 1.6rem;
  color: #929391;
}

.cartShippingWrap {
  margin: 1.6rem 0;
  padding: 1.6rem 0;
  /* border-top: 1px solid #ecedeb;
    border-bottom: 1px solid #ecedeb; */
  /* display: flex; */
  flex-wrap: wrap;
}

.cartShippingDetail {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
  border-right: 1px solid #c8c9c6;
  display: none;
}

.home-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.cartShippingPriceDetail {
  flex-grow: 0;
  /* max-width: 33.333333%; */
  flex-basis: 33.333333%;
  padding: 0rem 1.6rem;
  border-right: 1px solid #c8c9c6;
  width: 40rem !important;
  border: 1px solid #c19f5f !important;
  padding: 1rem !important;
  border-radius: 8px;
  background-color: #25130f;
}

.cartShippingTitleDetail {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 0rem 1rem;
  color: var(--theme-primary);
}

.cartShippingNoDetail {
  padding: 1.6rem 0rem;
}

.cartShippingInfo {}

.cartShippingTitleName {}

.cartShippingTitleAddress {}

.cartShippingPriceWrap {}

.cartShippingPriceWrap ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cartShippingPriceWrap ul li,
.cartShippingPriceAmt,
.cartShippingPricePaymentAmt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cartShippingPriceWrap h4 {
  font-size: 1.5rem;
  margin: 0;
}

.cartShippingPriceWrap h5 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

.cartShippingPriceAmt {
  padding: 1.6rem 0;
  border-top: 1px solid #ecedeb;
  border-bottom: 1px solid #ecedeb;
}

.cartShippingPricePaymentAmt {
  justify-content: unset;
}

.cartShippingPricePaymentAmt h4 {
  margin-right: 0.75rem;
  font-weight: 600;
}

.cartShippingPricePaymentAmt h5 {
  font-weight: 400;
}

.discountAmt {
  color: #46b275;
}