.card-title{
font-size: 1.6rem;
font-weight: 700;
text-transform: uppercase;
}
.headings {
    font-size: 32px;
    margin: 30px 0px;
}
.blogCardDiv{
    margin-top: 10px;
}

.blogCard img {
    
}
.blogCard {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 0 !important;
}